{% extends 'user/base.html' %}

{% block content %}

<div class="  container">
  <div class=" row justify-content-center">
    <div class=" mt-16 col-md-8 col-lg-6">
      <div class=" card mb-4">
        <img class=" card-img-top" src="{{recipe.image.url}}">
        <div class="card-body">
          <h3 class="card-title">{{recipe.name}}</h3>
          <p class="card-text">{{recipe.desc}}</p>
          <p class="card-text">Posted By: <a href="{% url 'user:chefprofile' recipe.chef.id %}">{{recipe.chef}}</a></p>
          <p class="card-text">Contact: {{recipe.chef.profile.contact_number}}</p>
          <hr>
          <h5 class="card-subtitle mb-2 text-muted">Ingredients:</h5>
          <pre class="card-text">{{recipe.ingredients}}</pre>
          <hr>
          <h5 class="card-subtitle mb-2 text-muted">Cooking Instructions:</h5>
          <pre class="card-text">{{recipe.cooking_instructions}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
