{% extends 'user/base.html' %}

{% block navbar %}
<nav id="navbar" class="navbar">
    <ul>
      <li><a href="/" style="text-decoration:none;" >Home</a></li>
      <li><a class="navbar-brand" href="/recipes">Recipes</a></li>
      <li><a class="navbar-brand" href="/recipes/add">Add Recipe</a></li>
      <li><a class="navbar-brand" href="{% url 'user:mylistings' %}">My Recipes</a></li>
      <li><a class="navbar-brand" href="{% url 'user:createprofile' %}">Create Profile</a></li>
      <li><a class="navbar-brand" href="{% url 'user:myprofile' %}">My Profile</a></li>
      </nav>
{% endblock %}

{% load static %}

{% block content %}
<html>
<link rel="stylesheet" type="text/css" href="{% static 'user/main.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'user/category.css' %}"> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<body style="background-color: bisque;">
    <style>
        a {
          text-decoration: none;
        }
        </style>

<main class="mt-10 mx-auto max-w-7xl px-4 sm:st-12 sm:px-6 md:mt-16 lg:mt-20 ">
   
      
      
        <div class="sm:text-center lg:text-left d-flex align-items-center justify-content-center ">
            <h1 class="text-4xl font-extrabold text-gray-900 sm:text-5xl md:text-6xl mt-4">
            <span class="block xl:inline "> Social Kitchen </span>
            <span class="block text-red-500 xl:inline"> Recipes </span>
        </h1>
    
        </div>
    
</main>
<div class="container">
    <div class="dropdown">
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"><i class="bi bi-tag"></i>Categories</button>
        <div class="dropdown-contentt">
          <a href="{% url 'user:LeanMeat' %}">Lean Meat</a>
          <a href="{% url 'user:WholeGrains' %}">Whole Grains</a>
          <a href="{% url 'user:Vegan' %}">Vegan</a>
          <a href="{% url 'user:Dairy' %}">Dairy</a>
        </div>
      </div>
</div>


<div class="flex justify-center ">
  <form method="GET" action="{% url 'user:recipes' %}">
    <input class="btn btn-light" type="text" name="q" placeholder="Search Recipes" value="{{ request.GET.q }}">
    <button type="submit" class="btn btn-success">Search</button>
  </form>
</div>

<div class="grid-container">
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 xl:grid-cols-3 lg:grid-cols-3 gap-5">

    {%for recipe in recipes %}
    
    <a href="{% url 'user:recipe_detail' recipe.id %}">
        <div style="background-color: white ;" class="rounded overflow-hidden shadow-lg">
            
            <div style="background-color: white; width: 100%; padding-top: 75%; position: relative;">
                <img style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;" src="{{ recipe.image.url }}">
            </div>
        
            <div class="px-6 py-4 " >
            <div class="font-bold text-xl mb-2" >{{recipe.name}}</div>
            <div class="font-bold mb-2" style="text-decoration: none;" >Posted By : <span class="text-indigo-500">{{recipe.chef}}</span></div>
            <p class="text-gray-700 text-base">{{recipe.desc}} </p>
        </div>
    </div>
</a>

    {%endfor%}

</div>


<div class="pagination justify-content-center">
    {% if recipes.has_previous %}
        <a href="?page=1">&laquo;</a>
        <a href="?page={{ recipes.previous_page_number }}">&lsaquo;</a>
    {% endif %}
    
    {% for i in recipes.paginator.page_range %}
        {% if recipes.number == i %}
            <a class="active" href="#">{{ i }}</a>
        {% elif i > recipes.number|add:'-3' and i < recipes.number|add:'3' %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}
    
    {% if recipes.has_next %}
        <a href="?page={{ recipes.next_page_number }}">&rsaquo;</a>
        <a href="?page={{ recipes.paginator.num_pages }}">&raquo;</a>
    {% endif %}
</div>

{% endblock%}

</body>
</html>
