{% extends 'user/base.html' %}

{% block content %}
<div class="grid p-10 grid-cols-1 lg:grid-cols-3 sm:grid-cols-1">
    <div class="rounded shadow-lg">
        <div class="font-bold text-xl mb-2 px-6 py-4">My Followings</div>
        <ul class="list-disc pl-8">
            {% for profile in followings %}
                <li>{{ profile.user.username }}</li>
            {% empty %}
                <li>You are not following anyone yet.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
