{% extends 'user/base.html' %}

{% block content %}
<div class="container">
<h1 class="text-center mb-5">Recommendations</h1>
<form class="d-flex mb-3" method="get" action="{% url 'user:recommendations' %}">
<input class="form-control me-2" type="text" name="q" placeholder="Type Your Ingredients each seperated by a comma ">
<button class="btn btn-primary" type="submit">Recommend</button>
</form>
<div class="row">
{% for recipe in recipes %}
<div class="col-md-4 mb-4">
<div class="card">
<img class="card-img-top" src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
<div class="card-body">
<h2 class="card-title">{{ recipe.name }}</h2>
<p class="card-text">{{ recipe.desc }}</p>
<p class="card-text">Ingredients: {{ recipe.ingredients }}</p>
<p class="card-text">Cooking Instructions: {{ recipe.cooking_instructions }}</p>
<p class="card-text">Category: {{ recipe.category }}</p>
</div>
</div>
</div>
{% empty %}
<p>No Ingredients Written</p>
{% endfor %}
</div>
</div>
{% endblock %}