{% extends 'user/base.html' %}

{% block navbar %}


<nav id="navbar" class="navbar " >
    <ul>
        <a href="home.html" style="text-decoration:none;" class="logo d-flex align-items-center me-auto me-lg-0">
            <h1>Social Kitchen <span>.</span></h1>  
          </a>
      <li><a href="/" style="text-decoration:none;" >Home</a></li>
      <li><a class="navbar-brand" href="{% url 'user:createprofile' %}">Create Profile</a></li>
      <li><a class="navbar-brand" href="{% url 'user:myprofile' %}">My Profile</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Recipes
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/recipes">All Recipes</a></li>
          <li><a class="dropdown-item" href="/recipes/add">Add Recipes </a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'user:mylistings' %}">My Recipes</a></li>
          <li><a class="dropdown-item" href="{% url 'user:recommendations' %}">Get Recommendations</a></li>
        </ul>
      </li>
      </nav>
{% endblock %}

 {% load static %} 





{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'user/category.css' %}"> 
<div class="container">
<h1 class="text-center mb-5">Recommendations</h1>
<form class="d-flex mb-3" method="get" action="{% url 'user:recommendations' %}">
<input class="form-control me-2" type="text" name="q" placeholder="Type Your Ingredients each seperated by a comma ">
<button class="btn btn-primary" type="submit">Recommend</button>
</form>
<div class="row">
{% for recipe in recipes %}
<div class="col-md-4 mb-4">
<div class="card">
<img class="card-img-top" src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
<div class="card-body">
<h2 class="card-title">{{ recipe.name }}</h2>
<p class="card-text">{{ recipe.desc }}</p>
<p class="card-text">Ingredients: {{ recipe.ingredients }}</p>
<p class="card-text">Cooking Instructions: {{ recipe.cooking_instructions }}</p>
<p class="card-text">Category: {{ recipe.category }}</p>
</div>
</div>
</div>
{% empty %}
<p>No Ingredients Written</p>
{% endfor %}
</div>
</div>
{% endblock %}