{% extends './home.html' %}
<!DOCTYPE html>
<html>
  {%load static%}
 {% block content %}  
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'user/main.css' %}">
	<title>Login</title>
  

</head>

<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <a href="home.html" style="text-decoration:none;" class="logo d-flex align-items-center me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>Social Kitchen <span>.</span></h1>  
    </a>
    
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/" style="text-decoration:none;" >Home</a></li>
        <li><a href="/#about" style="text-decoration:none;" >About</a></li>
        <li><a href="/#gallery" style="text-decoration:none;" >Gallery</a></li>
        <li><a href="/#contact" style="text-decoration:none;">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->
   
    
    <a class="btn-book-a-table" href="/loginpage">Login</a>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->

<body class="mainclass">

<section style="background-image: url('{% static "user/images/cook1.jpg" %}'); background-repeat: no-repeat; background-size: cover;">
  <div class="mask d-flex align-items-center h-100 " style="padding-top:20px;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5"><b>SIGN UP</b></h2>

              <form method="POST", enctype="multipart/form-data" class="inputfield">
                {% csrf_token %}
                <div class="row">
                  <div class="col-sm-6 text-left inputlabel">
                    <label>Username</label></br>
                    <label>Email</label></br>
                    <label >Password</label></br>
                    <label>Confirm Password</label>
                    
                  </div>
                  <div class="col-sm-6 text-right">
                    {{form.username}}
                    {{form.email}}
                    {{form.password1}}
                    {{form.password2}}
                  </div>
                </div>

                <div class="d-flex justify-content-center" style="padding: 25px 150px;">
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" value="Submit">Register</button>
                </div>
                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{% url 'user:loginpage' %}" class="fw-bold text-body"><u>Login here</u></a></p>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
{% endblock %}
</html>