{% extends "user/layout.html" %}
{% block head%}
{% block title %}
create a new account
{% endblock %}
{% endblock %}
{% block content %}
<div class="registration_form">
    <form method="POST" action="">
        {% csrf_token %}
        {% for field in form%}
        <div>
            <p>{{field.label}}: <br>{{field}}</p>

        {% for error in field.errors %}
        <small style="color: red;">{{error}}</small>
            {% endfor %}
        </div>
        {% endfor %}
    </form>
</div>

{% endblock %}