.page {
    background-image: url('food.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    width: 90%;
  }
  
  .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-top: 1rem;
  }
  